.img-space {
  padding-top: 2em; }

#about {
  text-align: center; }
  #about h1, #about h2 {
    font-family: "Questrial", sans-serif; }

#projects {
  text-align: center; }
  #projects h1, #projects h2 {
    font-family: "Questrial", sans-serif; }

body {
  background: #3D4457;
  color: #999; }

a {
  color: #FFF; }

.project-bg {
  background: #000; }
  .project-bg .container.pt-4 {
    margin-top: 6em;
    padding-bottom: 5em; }
    .project-bg .container.pt-4 .flex-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-top: 4em; }
      .project-bg .container.pt-4 .flex-btn .btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #3D4457;
        background: #FFF;
        width: 50%; }

.navbar-link {
  color: black; }

.card {
  background: #3D4457;
  margin: 0 auto;
  float: none;
  margin-bottom: 1em; }

.btn {
  border-color: #FFF;
  background-color: #FFF;
  color: #000; }

.btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  background-color: #FFF;
  background-image: none;
  border-color: #FFF; }

.btn-primary:hover {
  border-color: #FFF;
  background-color: #FFF;
  border-color: #FFF; }

.btn.active, .btn:active {
  background-image: none; }

.btn:focus, .btn:hover {
  text-decoration: none; }

a:hover {
  color: #FFF;
  text-decoration: underline; }

.jumbotron {
  background: #3D4457 url("../img/profile2.jpg") no-repeat 50% 10%;
  height: 100%;
  background-size: auto;
  overflow: hidden;
  font-family: "Questrial", sans-serif;
  -webkit-box-shadow: inset 0 0 600px 75px black;
  box-shadow: inset 0 0 600px 75px black;
  padding-top: 20%; }

.navFooter {
  color: white;
  background: #3D4457; }

.navbar-toggler {
  background: white;
  color: white; }

.navbar-brand {
  font-family: "Questrial", sans-serif; }
  .navbar-brand img {
    margin-right: 1em; }

.navbar-nav {
  font-family: "Questrial", sans-serif; }

.profile {
  border-radius: 5em;
  position: relative; }

.titleColor {
  color: #FFF; }

.titleColor1 {
  color: white; }
